// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/V2H EVK Version 1 board
 *
 * Copyright (C) 2023 Renesas Electronics Corp.
 */

/dts-v1/;

/ {
	compatible = "renesas,r9a09g057h4-dev", "renesas,r9a09g057h4", "renesas,r9a09g057";
	model = "Renesas EVK Version 1 based on r9a09g057h4";
	#address-cells = <2>;
	#size-cells = <2>;

	/* clock can be either from exclk or crystal oscillator (XIN/XOUT) */
	extal_clk: extal-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et0_txc_tx_clk clock input */
	et0_txc_tx_clk: et0_txc_tx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et0_rxc_rx_clk clock input */
	et0_rxc_rx_clk: et0_rxc_rx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et1_txc_tx_clk clock input */
	et1_txc_tx_clk: et1_txc_tx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et1_rxc_rx_clk clock input */
	et1_rxc_rx_clk: et1_rxc_rx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	v2h: soc {
		compatible = "simple-bus";
		#address-cells = <0x02>;
		#size-cells = <0x02>;

		sysc: system-controller@10430000 {
			compatible = "renesas,r9a09g057-sysc";
			reg = <0 0x10430000 0 0x10000>;
			syc_inck_hz = <24000000>;
		};

		timer: system-timer@14010000 {
			compatible = "renesas,r9a09g057-timer";
			reg = <0 0x14010000 0 0x10000>;
			syc_timer_mul = <1000000>;
			syc_timer_offset = <0x020>;
		};

		cpg: clock-controller@10420000 {
			compatible = "renesas,r9a09g057-cpg";
			reg = <0 0x10420000 0 0x10000>;
			clocks = <&extal_clk>,
				 <&et0_txc_tx_clk>, <&et0_rxc_rx_clk>,
				 <&et1_txc_tx_clk>, <&et1_rxc_rx_clk>;
			clock-names = "extal",
				      "et0_txc_tx_clk", "et0_rxc_rx_clk",
				      "et1_txc_tx_clk", "et1_rxc_rx_clk";
			#clock-cells = <2>;
			#reset-cells = <1>;
			#power-domain-cells = <0>;

			csdiv0-offset = <0x500>;
			csdiv1-offset = <0x504>;
		};

		cpg_pll: cpg_pll@10420000 {
			compatible = "renesas,r9a09g057-pll";
			reg = <0 0x10420000 0 0x10000>;
			#clock-cells = <2>;
			#reset-cells = <1>;
			#power-domain-cells = <0>;
			cm33 {
				stby-addr = <0x0>; 
				stby-val  = <0x0>;

				clk1-addr = <0x0>; 
				clk1-val  = <0x00>;

				clk2-addr = <0x0>; 
				clk2-val  = <0x0>;

				mon-addr = <0x10>;
				mon-val  = <0x0>;
			};

			cln {
				stby-addr = <0x0>; 
				stby-val  = <0x0>;

				clk1-addr = <0x0>; 
				clk1-val  = <0x00>;

				clk2-addr = <0x0>; 
				clk2-val  = <0x0>;

				mon-addr = <0x30>;
				mon-val  = <0x0>;
			};

			dty {
				stby-addr = <0x0>; 
				stby-val  = <0x0>;

				clk1-addr = <0x0>; 
				clk1-val  = <0x00>;

				clk2-addr = <0x0>; 
				clk2-val  = <0x0>;

				mon-addr = <0x50>;
				mon-val  = <0x0>;
			};

			ca55 {
				stby-addr = <0x0>; 
				stby-val  = <0x0>;

				clk1-addr = <0x0>; 
				clk1-val  = <0x00>;

				clk2-addr = <0x0>; 
				clk2-val  = <0x0>;

				mon-addr = <0x70>;
				mon-val  = <0x0>;
			};

			vdo {
				stby-addr = <0x0>; 
				stby-val  = <0x0>;

				clk1-addr = <0x0>; 
				clk1-val  = <0x00>;

				clk2-addr = <0x0>; 
				clk2-val  = <0x0>;

				mon-addr = <0x90>;
				mon-val  = <0x0>;
			};

			eth {
				stby-addr = <0xA0>;
				stby-val  = <0x00010001>;
				clk1-addr = <0x0>; 

				clk1-val  = <0x00>;

				clk2-addr = <0x0>; 
				clk2-val  = <0x0>;

				mon-addr = <0xB0>;
				mon-val  = <0x0>;
			};

			dsi {
				stby-addr = <0xC0>;
				stby-val  = <0x00010001>;

				clk1-addr = <0xC4>;
				clk1-val  = <0x00003182>;

				clk2-addr = <0xC8>;
				clk2-val  = <0x000C1803>;

				mon-addr = <0xD0>;
				mon-val  = <0x0>;
			};

			gpu {
				stby-addr = <0x120>;
				stby-val  = <0x00050001>;

				clk1-addr = <0x124>;
				clk1-val  = <0x00003482>;

				clk2-addr = <0x128>;
				clk2-val  = <0x000C1A01>;

				mon-addr = <0x130>;
				mon-val  = <0x0>;
			};

			drp {
				stby-addr = <0x0>; 
				stby-val  = <0x0>;

				clk1-addr = <0x0>; 
				clk1-val  = <0x00>;

				clk2-addr = <0x0>; 
				clk2-val  = <0x0>;

				mon-addr = <0x150>; 
				mon-val  = <0x0>;
			};
		};
	};
};
